.chat_main
  .chat_main__group_info
    .chet_main__group_info__left
      .chet_main__group_info__left__test
        - current_user.groups.each do |group|
          = group.name
      .chet_main__group_info__left__name
        = current_user.name
    .chet_main__group_info__right
      = link_to edit_group_path(current_user) do
        edit

  .messages
    = render @messages
  
  .form
    = form_for [@group, @message], class: 'form__new' do |f|
      = f.text_field :content, class: 'form__new__left', placeholder: 'type a message'
      .form__new__mask
        = f.label :image, class: 'form__new__mask__image' do
          = icon('fas', 'image', class: 'form__new__mask__image__icon')
          = f.file_field :image, class: 'form__new__mask__image__hidden'
      = f.submit 'Send', class: 'form__new__right'

